K8.NAME={{environmentprofiles[item.profile].name}}
K8S_REPLICAS=1
K8S_MAX_UNAVAIL=1
K8S_REQ_MEM={{environmentprofiles[item.profile].memory}}
K8S_REQ_CPU={{environmentprofiles[item.profile].cpu}}
LIVENESS_FAILURE=5
KUBE2IAM_ROLE="kube2iam_kops1_ivacs_role"

