{
  "apiVersion": "v1",
  "kind": "Service",
  "metadata": {
    "name": "{{  servicename }}-svc",
    "namespace":"$NAMESPACE",
    "labels": {
        "environment": "$NAMESPACE"
    }
  },
  "spec": {
    "ports": [
      {
        "port": 8443,
        "protocol": "TCP",
        "name": "tomcat-https",
        "targetPort": 8443
      },
      {
        "port": 8090,
        "protocol": "TCP",
        "name": "e2edemo",
        "targetPort": 8080
      }
    ],
    "selector": {
      "deployment": "{{  servicename }}-klb"
    }
  }
}
